db.sqlite
.venv
breadboard.ipynb
.env
*.docx
filelist.txt
src/core.egg-info
src/core/__pycache__
src/build
__pycache__
seed_canonical_topics.json
csv_backups
message_bus_log.json
test_canon_outputs.json
filelist_longer.txt
.pytest_cache