<script>
    function showDeleteConfirmation(itemName, deleteCallback) {
        modal.show(
            'Delete Confirmation',
            `Are you sure you want to delete "${itemName}"? This action cannot be undone.`,
            [
                {
                    text: 'Delete',
                    classes: 'govuk-button--warning',
                    callback: deleteCallback
                },
                {
                    text: 'Cancel',
                    classes: 'govuk-button--secondary'
                }
            ]
        );
    }
</script>
