<div class="govuk-tabs__panel govuk-tabs__panel" id="documents-tab">
    <h2 class="govuk-heading-l">Documents</h2>

    <table class="govuk-table">

        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Document</th>
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header"></th>
            </tr>
        </thead>

        <tbody class="govuk-table__body" id="documents">
            {% if documents %}

            {% for document in documents %}
            {% include "components/document_row.html" %}
            {% endfor %}

            {% else %}
            <p class="govuk-body">No documents found.</p>
            {% endif %}

        </tbody>

    </table>
    
    <form
    hx-post="/documents" 
    hx-target="#documents" 
    hx-swap="beforeend" 
    hx-on::after-request="if(event.detail.successful) this.reset()"
    enctype="multipart/form-data"
    hx-indicator="#upload-loading">
         <div class="govuk-form-group">
            <label class="govuk-label" for="document">Upload Document</label>
            <input class="govuk-file-upload" id="document" name="document" type="file" accept=".pdf">
        </div>
        <button class="govuk-button" type="submit">
            Add Document
            <span id="upload-loading" class="htmx-indicator govuk-visually-hidden">
                Uploading...
            </span>
        </button>
        <div id="upload-error" class="govuk-error-message" hidden></div>
    </form>
</div>
