<tr class="govuk-table__row" id="document-{{ document.id }}" hx-target="this" hx-swap="outerHTML">

    <td class="govuk-table__cell">
        <a href="{{ url_for('document_details', document_id=document.id) }}" class="govuk-link">{{ document.filename
            }}</a>
        <p class="govuk-body">{{document.summary}}</p>
        <p class="govuk-body-small"><i>{{document.last_modified_by}}, {{document.last_modified_at}}</i></p>
    </td>


    <td class="govuk-table__cell">
        <div class="govuk-button-group">
            <button hx-get="/documents/{{ document.id }}/edit" 
                    class="govuk-button govuk-button--secondary"
                    aria-label="Edit {{ document.filename }}"
                    hx-indicator="#loading-{{ document.id }}">
                Edit
                <span id="loading-{{ document.id }}" class="htmx-indicator govuk-visually-hidden">
                    Loading...
                </span>
            </button>
            <button hx-delete="/documents/{{ document.id }}" 
                    hx-target="#entities-tab" 
                    hx-swap="outerHTML"
                    class="govuk-button govuk-button--warning"
                    aria-label="Delete {{ document.filename }}"
                    hx-confirm="Are you sure you want to delete the document '{{ document.filename }}'?"
                    hx-indicator="#loading-delete-{{ document.id }}">
                Delete
                <span id="loading-delete-{{ document.id }}" class="htmx-indicator govuk-visually-hidden">
                    Deleting...
                </span>
            </button>
        </div>
    </td>

</tr>



