<tr class="govuk-table__row" id="entity-{{ entity.id }}" hx-target="this" hx-swap="outerHTML">

    <td class="govuk-table__cell">
        <a href="" class="govuk-link">{{ entity.entity_name }}</a>
        <p class="govuk-body">{{entity.entity_description}}</p>
    </td>

    <td class="govuk-table__cell">
        <div class="govuk-button-group">
            <button hx-get="/entities/{{ entity.id }}/edit" 
                    class="govuk-button govuk-button--secondary"
                    aria-label="Edit {{ entity.entity_name }}">
                Edit
            </button>
            <button hx-delete="/entities/{{ entity.id }}" 
                    hx-target="#entities-tab" 
                    hx-swap="outerHTML"
                    class="govuk-button govuk-button--warning"
                    aria-label="Delete {{ entity.entity_name }}">
                Delete
            </button>
        </div>
    </td>


</tr>
