<tr class="govuk-table__row" id="entity-{{ entity.id }}" hx-target="this" hx-swap="outerHTML">

    <td class="govuk-table__cell">
        <a href="" class="govuk-link">{{ entity.entity_name }}</a>
        <p class="govuk-body">{{entity.entity_description}}</p>
    </td>

    <td class="govuk-table__cell">
        <button hx-get="/entities/{{ entity.id }}/edit" class="govuk-button govuk-button--secondary">Edit</button>
        <br>
        <button hx-delete="/entities/{{ entity.id }}" hx-target="#entities-tab" hx-swap="outerHTML"
            class="govuk-button govuk-button--warning">Delete</button>
    </td>


</tr>