<tr class="govuk-table__row" id="stakeholder-{{ stakeholder.id }}" hx-target="this" hx-swap="outerHTML">

    <td class="govuk-table__cell">
        <a href="" class="govuk-link">{{ stakeholder.stakeholder_name }}</a> <br> <i class="govuk-body-small">{{stakeholder.stakeholder_type}}</i>
 
    </td>

    <td class="govuk-table__cell">
        <div class="govuk-button-group">
            <button hx-get="/stakeholders/{{ stakeholder.id }}/edit" 
                    class="govuk-button govuk-button--secondary"
                    aria-label="Edit {{ stakeholder.stakeholder_name }}"
                    hx-indicator="#loading-{{ stakeholder.id }}">
                Edit
                <span id="loading-{{ stakeholder.id }}" class="htmx-indicator govuk-visually-hidden">
                    Loading...
                </span>
            </button>
            <button onclick="showDeleteConfirmation('{{ stakeholder.stakeholder_name }}', '/stakeholders/{{ stakeholder.id }}')"
                    class="govuk-button govuk-button--warning"
                    aria-label="Delete {{ stakeholder.stakeholder_name }}"
                    hx-indicator="#loading-delete-{{ stakeholder.id }}">
                Delete
                <span id="loading-delete-{{ stakeholder.id }}" class="htmx-indicator govuk-visually-hidden">
                    Deleting...
                </span>
            </button>
        </div>
    </td>


</tr>
