<tr class="govuk-table__row" id="topic-{{ topic.id }}" hx-target="this" hx-swap="outerHTML">

    <td class="govuk-table__cell">
        <a href="" class="govuk-link">{{ topic.topic_name }}</a>
        <p class="govuk-body">{{topic.topic_description}}</p>
    </td>

    <td class="govuk-table__cell">
        <button hx-get="/topics/{{ topic.id }}/edit" class="govuk-button govuk-button--secondary">Edit</button>
        <br>
        <button hx-delete="/topics/{{ topic.id }}" hx-target="#topics-tab" hx-swap="outerHTML"
            class="govuk-button govuk-button--warning">Delete</button>
    </td>


</tr>