<tr class="govuk-table__row" id="topic-{{ topic.id }}">

    <td class="govuk-table__cell">
        <a href="" class="govuk-link">{{ topic.topic_name }}</a>
    </td>

    <td class="govuk-table__cell">
        <button hx-delete="/topics/{{ topic.id }}" hx-target="#topic-{{ topic.id }}" hx-swap="outerHTML" class="govuk-button govuk-button--secondary">Delete</button>
    </td>

    <td class="govuk-table__cell">
        <button hx-get="/topics/{{ topic.id }}/edit" hx-target="#topic-{{ topic.id }}" hx-swap="outerHTML" class="govuk-button govuk-button--secondary">Edit</button>
    </td>

</tr>